.content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-gap: 10px;
    padding: 10px;
  }
  
  .content .row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, var(--clr-i), var(--clr-ii));
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
    overflow: hidden;
  }
  
  .content .row.header:hover {
    scale: 0.95;
  }
  
  .content .row .bg-waves,
  .content .row .bg-waves__ {
    position: absolute;
    left: 0;
    opacity: 0.3;
  }
  .content .row .bg-waves {
    top: 0;
  }
  .content .row .bg-waves__ {
    bottom: 0;
  }
  
  .content .row.header {
    height: 100px;
    --clr-i: #00464e;
    --clr-ii: #810551;
    margin-bottom: 15px;
  }
  
  .content .row.header:nth-child(1) {
    grid-column: span 2;
  }
  .content .row.header:nth-child(2) {
    grid-column: span 3;
    flex-direction: row;
  }
  
  .content .row .cog {
    position: absolute;
    top: 8px;
    left: 12px;
    cursor: grab;
    color: white;
    font-size: 25px;
  }
  
  .content .row.header .txt-head {
    position: relative;
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
    font-family: raleway;
    font-weight: 400;
  }
  
  .content .row .divide {
    height: 1px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.877);
    margin: 2px 0 10px;
  }
  
  .content .row.header .notification {
    display: flex;
    padding: 5px 8%;
    /* background-color: rgba(255, 255, 255, 0.24); */
    /* border-radius: 50px; */
    gap: 10px;
    
    border: 1px solid #fff;
    border-radius: 3px;
    /* display: grid; */
    grid-template-columns: repeat(7, 1fr);
    /* margin-top: 1em; */
    /* padding: 1%; */
    text-align: center;
  }
  
  .content .row.header .notification p,
  .content .row.header .notification span {
    position: relative;
    color: rgba(255, 255, 255, 0.877);
    font-size: 15px;
    font-family: raleway;
    font-weight: 500;
  }
  
  .content .section-title {
    color: rgb(108, 107, 107);
    font-size: 16px;
    grid-column: span 4;
    margin-left: 5px;
    font-weight: 600;
  }
  
  .content .row.square {
    aspect-ratio: 2.05;
    grid-column: span 5;
    --clr-i: #00464e;
    --clr-ii: #810551;
  }
  
  .content .row.square::after {
    /* grid-column: span 5; */
    position: absolute;
    content: "";
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 8px;
    background-color: #e4e4e4;
  }
  
  .content.dark .row.square::after {
    background-color: var(--dm-bg);
  }
  
  .content .row.square:hover {
    scale: 0.98;
  }